<div class="row my-1 bg-white rounded product selectable" data-bs-toggle="modal" data-bs-target="#productModal{{product.id}}">
    <div class="col-auto text-center">
        <img src="{{product.image or config['PLACEHOLDER_IMAGE']}}" height="64" width="64">
    </div>
    <div class="col">
        <div class="row" data-id="{{product.id}}">
            <div class="col col-sm-6 overflow-hidden ">
                <h5>{{product.name}}</h5>
                <small>Артикул: {{product.sku}}</small>
            </div>
            <div class="col-sm overflow-hidden pt-sm-1">
                {{ product.category.name }}
                <div>
                    {% for tag in product.tags %}
                    <small class="badge bg-secondary">{{tag.tag}}</small>
                    {% endfor %}
                </div>
            </div>
            <div class="col-sm overflow-hidden pt-sm-4 pt-2">
                <strong>{{ '{:,.2f}'.format(product.price) }}</strong> ₽/{{ product.measurement }}
            </div>
            {% if product.options %}
            <div class="col-12">
                <div class="row">
                    <div class="col-auto fw-bold pt-2">
                        Опции:
                    </div>
                    <div class="col">
                        {% for rows in product.options|batch(4) %}
                        <div class="row">
                            {% for option in rows %}
                            <div class="col-sm-3 my-1">
                                <select class="form-select">
                                    <option selected disabled>{{ option }}</option>
                                    {% for value in product.options[option]%}
                                    <option value="{{value}}">{{value}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>