<div class="row my-1 bg-white rounded product selectable" data-bs-toggle="modal" data-bs-target="#productModal{{product.id}}">
    <div class="col-auto text-center">
        <img src="{{product.image or config['PLACEHOLDER_IMAGE']}}" height="64" width="64">
    </div>
    <div class="col">
        <div class="row" data-id="{{product.id}}">
            <div class="col col-sm-6 overflow-hidden ">
                <h5>{{product.name}}</h5>
                <small>Артикул: {{product.sku}}</small>
            </div>
            <div class="col-sm overflow-hidden pt-sm-1">
                {{ product.category.name }}
                <div>
                    {% for tag in product.tags %}
                    <small class="badge bg-secondary">{{tag.tag}}</small>
                    {% endfor %}
                </div>
            </div>
            <div class="col-sm overflow-hidden pt-sm-4 pt-2">
                <strong>{{ '{:,.2f}'.format(product.price) }}</strong> ₽/{{ product.measurement }}
            </div>
        </div>
    </div>
</div>