{% extends "base.html" %}

{% block styles %}
<style>
    .uploadImageIcon:hover {
        border: 1px solid #6c757d !important;
        border-radius: 0.25rem !important;
        opacity: 0.5;
    }
</style>
{% endblock %}

{% block content %}

<div class="container my-2">
    <div class="row gx-1">
        <div class="col">
            <form>
                <div class="row gx-1">
                    {% if current_user.role.name != 'vendor' %}
                        <div class="col-md-3 mb-1">
                            <input type="hidden" name="q" value="{{request.args.get("q", "")}}">
                            <select name="vendor_id" class="form-select" aria-label="Vendor select" id="vendorSelect">
                                {% for v in vendors %}
                                <option {% if v.id==vendor_id %}selected{% endif %} value="{{ v.id }}">{{ v.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    {% endif %}
                    <div class="col-md-3 mb-1">
                        <select name="category_id" class="form-select" aria-label="Category select" id="categorySelect">
                            <option value="" selected>Все категории</option>
                            {% for c in categories %}
                                <option {% if c.id==category_id %}selected{% endif %} value="{{ c.id }}">{{ c.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-auto">
            <a class="btn btn-primary text-white" href="{{url_for('main.DownloadProducts', vendor_id=vendor_id)}}">
                <i class="bi bi-cloud-download"></i>
            </a>
        </div>
        <div class="col-auto">
            <form method="POST" enctype="multipart/form-data" id="uploadProductsForm"
                action="{{url_for('main.UploadProducts', vendor_id=vendor_id, category_id=category_id)}}">
                {{ products_form.csrf_token(id=False) }}
                <label for="uploadProductsButton">
                    <span class="btn btn-warning mb-1 text-white">
                        <i class="bi bi-cloud-upload"></i>
                    </span>
                </label>
                <input id="uploadProductsButton" type="file" name="products" class="d-none" accept=".xlsx">
            </form>
        </div>
        <div class="col-auto">
            <form action="{{ url_for('main.remove_products', vendor_id=vendor_id) }}" method="POST">
                <button type="submit" class="btn btn-danger text-white"
                    onclick="return confirm('Очистить список товаров?')">
                    <i class="bi bi-x-lg"></i>
                </button>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div id="productList">
        {% for product in products %}
            {% include 'main/products/_product.html' %}
            {% include 'main/products/_product.modal.html' %}
        {% endfor %}
    </div>
    {% set items = products %}
    {% include '_pagination.html' %}
</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/pagination.js') }}"></script>
<script>
    $(document).ready(function () {

        $('#uploadProductsButton').on('change', () => {
            $('#uploadProductsForm').submit();
        });
        document.getElementById('vendorSelect').addEventListener('change', (e) => {
            e.currentTarget.form.submit();
        });
        document.getElementById('categorySelect').addEventListener('change', (e) => {
            e.currentTarget.form.submit();
        });
        $('#uploadImagesButton').on('change', (e) => {
            e.currentTarget.form.submit();
        });

        const selectElements = document.querySelectorAll('.form-select.productPriceLevel');

        selectElements.forEach(function(select) {
            // Add the 'change' event listener to each select element
            select.addEventListener('change', function() {
                const dataId = this.getAttribute('data-id');
                
                // Find the corresponding input element by class 'productPrice' and data-id
                const input = document.querySelector(`.form-control.productPrice[data-id="${dataId}"]`);
                
                if (input) {
                    // Get the data-prices attribute from the input and parse it into an object
                    const prices = JSON.parse(input.getAttribute('data-prices').replaceAll("'", '"'));

                    // Get the selected option value
                    const selectedPriceLevel = this.value;
                    
                    // Find the price corresponding to the selected price level in the prices object
                    const newPrice = prices[selectedPriceLevel];

                    // Update the input value with the new price
                    if (newPrice !== undefined) {
                        input.value = newPrice;
                    }
                }
            });
        });

    });
</script>
{% endblock %}