{% extends "base.html" %}

{% block styles %}
<style>
    .uploadImageIcon:hover {
        border: 1px solid #6c757d !important;
        border-radius: 0.25rem !important;
        opacity: 0.5;
    }
</style>
{% endblock %}

{% block content %}

<div class="container my-2">
    <div class="row gx-1 justify-content-center">
        <div class="col-md-6 mb-1">
            <form method="GET">
                <input type="hidden" name="vendor_id" value="{{vendor_id}}">
                <input class="form-control" name="search" id="searchInput" type="search" placeholder="Поиск.." value={{search_key or ''}}>
            </form>
        </div>
        {% if current_user.role.name != 'vendor' %}
        <div class="col-md-3 mb-1">
            <select class="form-select" aria-label="Vendor select" id="vendorSelect">
                {% for v in vendors %}
                <option {% if v.id==vendor_id %}selected{% endif %} value="{{ v.id }}">{{ v.name }}</option>
                {% endfor %}
            </select>
        </div>
        {% endif %}
        <div class="col-md-3 mb-1">
            <select class="form-select" aria-label="Category select" id="categorySelect">
                <option value="" selected>Все категории</option>
                {% for c in categories %}
                    <option {% if c.id==category_id %}selected{% endif %} value="{{ c.id }}">{{ c.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="row gx-1 justify-content-center">
        <div class="col-auto">
            <a class="btn btn-primary text-white" href="{{url_for('main.DownloadProducts', vendor_id=vendor_id)}}">
                <i class="bi bi-cloud-download"></i>
            </a>
        </div>
        <div class="col-auto">
            <form method="POST" enctype="multipart/form-data" id="uploadProductsForm"
                action="{{url_for('main.UploadProducts', vendor_id=vendor_id, category_id=category_id)}}">
                {{ products_form.csrf_token(id=False) }}
                <label for="uploadProductsButton">
                    <span class="btn btn-warning mb-1 text-white">
                        <i class="bi bi-cloud-upload"></i>
                    </span>
                </label>
                <input id="uploadProductsButton" type="file" name="products" class="d-none" accept=".xlsx">
            </form>
        </div>
        <div class="col-auto">
            <form method="POST" enctype="multipart/form-data" id="uploadImagesForm"
                action="{{url_for('main.UploadImages', vendor_id=vendor_id)}}">
                {{ images_form.csrf_token(id=False) }}
                <label for="uploadImagesButton">
                    <span class="btn btn-success mb-1 text-white">
                        <i class="bi bi-card-image"></i>
                    </span>
                </label>
                <input id="uploadImagesButton" type="file" name="images" class="d-none" accept=".zip">
            </form>
        </div>
        <div class="col-auto">
            <form action="{{ url_for('main.remove_products', vendor_id=vendor_id) }}" method="POST">
                <button type="submit" class="btn btn-danger text-white"
                    onclick="return confirm('Очистить список товаров?')">
                    <i class="bi bi-x-lg"></i>
                </button>
            </form>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col">
            <div class="alert bg-yellow my-1" role="alert">
                <ol class="my-0">
                    <li>
                        Скачайте текущий каталог и используйте полученный Excel-файл как шаблон.
                        Помимо обязательных столбцов вы можете добавить столбцы с опциями товаров.
                        Значения ячеек таких столбцов - список опций через запятую.
                    </li>
                    <li>
                        Загрузите обновленный каталог из Excel.
                    </li>
                    <li>
                        Загрузите картинки в zip-архиве (имя файла = "артикул товара") или добавьте по одной (ссылка
                        "фото")
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div id="productList">
        {% for product in products %}
            {% include 'main/products/_product.html' %}
            {% include 'main/products/_product.modal.html' %}
        {% endfor %}
    </div>
    <nav aria-label="Products pagination">
        <ul class="pagination justify-content-center flex-wrap" id="productPagination">
            {% for page in products.iter_pages() %}
                {% if page %}
                    {% if page != products.page %}
                        <li class="page-item">
                        <a class="page-link" href="{{ url_for('main.show_products', page=page, vendor_id=vendor_id, category_id=category_id) }}">
                                {{ page }}
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="#">{{ page }}</a>
                        <li>
                    {% endif %}
                {% else %}
                    <li class="page-item">
                        <span class="ellipsis">…</span>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/pagination.js') }}"></script>
<script>
    $(document).ready(function () {

        $('#uploadProductsButton').on('change', () => {
            $('#uploadProductsForm').submit();
        });
        $('#vendorSelect').change(() => {
            window.location = "{{url_for('main.show_products', vendor_id=-1)}}".replace('-1', $('#vendorSelect').val());
        });
        $('#categorySelect').change(() => {
            window.location = "{{url_for('main.show_products', category_id=-1)}}".replace('-1', $('#categorySelect').val());
        });
        $('#uploadImagesButton').on('change', () => {
            $('#uploadImagesForm').submit();
        });

        document.getElementById('searchInput').addEventListener('input', (e) => {
            if (!e.currentTarget.value) {
                e.currentTarget.form.submit();
            }
        });

        const selectElements = document.querySelectorAll('.form-select.productPriceLevel');

        selectElements.forEach(function(select) {
            // Add the 'change' event listener to each select element
            select.addEventListener('change', function() {
                const dataId = this.getAttribute('data-id');
                
                // Find the corresponding input element by class 'productPrice' and data-id
                const input = document.querySelector(`.form-control.productPrice[data-id="${dataId}"]`);
                
                if (input) {
                    // Get the data-prices attribute from the input and parse it into an object
                    const prices = JSON.parse(input.getAttribute('data-prices').replaceAll("'", '"'));

                    // Get the selected option value
                    const selectedPriceLevel = this.value;
                    
                    // Find the price corresponding to the selected price level in the prices object
                    const newPrice = prices[selectedPriceLevel];

                    // Update the input value with the new price
                    if (newPrice !== undefined) {
                        input.value = newPrice;
                    }
                }
            });
        });

    });
</script>
{% endblock %}