
{% set request_args = request.args.to_dict() %}
{% if items.pages > 1 %}
    <nav aria-label="pagination">
        <ul class="pagination justify-content-center flex-wrap" id="pagination">
            {% for page in items.iter_pages() %}
                {% if page %}
                    {% if page != items.page %}
                        <li class="page-item">
                        <a class="page-link" href="?{{ request_args|qs_toggler('page', page) }}">
                                {{ page }}
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="#">{{ page }}</a>
                        </li>
                    {% endif %}
                {% else %}
                    <li class="page-item">
                        <span class="ellipsis">…</span>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
{% endif %}