{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 mb-1">
            <input class="form-control" id="projectFilter" type="text" placeholder="Фильтр..">
        </div>
        <div class="col-auto">
            <a class="btn btn-primary text-white" href="#" role="button" data-bs-toggle="modal"
                data-bs-target="#addProjectModal"><i class="bi bi-plus-square"></i></a>
        </div>
    </div>
</div>


<div class="container bg-white border rounded my-2">
    <div class="row d-none d-sm-flex fw-bold">
        <div class="col-2 overflow-hidden">
            Название
        </div>
        <div class="col-2 overflow-hidden">
            Код/ИНН
        </div>
        <div class="col-3 overflow-hidden">
            Контакт
        </div>
        <div class="col overflow-hidden">
            Адреса
        </div>
    </div>
    <div id="projectList">
        {% for project in projects %}
        <div class="row my-1 py-1 border-bottom project">
            <div class="col-sm-2">
                <span class="d-sm-none fw-bold">Название:</span>
                <a class="editProjectButton {%if not project.enabled%}link-secondary{%endif%}" href="#" data-bs-toggle="collapse" data-bs-target="#projectStatCollaps{{project.id}}" aria-expanded="false" aria-controls="projectStatCollaps{{project.id}}">{{ project.name }}</a><br>
            </div>
            <div class="col-sm-2">
                <span class="d-sm-none fw-bold">Код/ИНН:</span>
                {{ project.uid or '' }}
                <br>
                {{ project.tin or '' }}
            </div>
            <div class="col-sm-3">
                <span class="d-sm-none fw-bold">Контакт:</span>
                {{ project.contact or '' }}
                {{ project.email or '' }}
                {{ project.phone or '' }}
            </div>
            <div class="col-sm">
                <div class="row">
                    <div class="col-4">
                        <span class="d-sm-none fw-bold">Адреса:</span>
                    </div>
                    <div class="col">
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <span class="d-sm-none fw-bold">&boxur;</span> <strong>Юридический</strong>
                    </div>
                    <div class="col">
                        {{ project.legal_address or '' }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <span class="d-sm-none fw-bold">&boxur;</span> <strong>Доставки</strong>
                    </div>
                    <div class="col">
                        {{ project.shipping_address or '' }}
                    </div>
                </div>
            </div>
        </div>
        <div class="collapse" id="projectStatCollaps{{project.id}}">
            <div class="card card-body bg-yellow">
                <a class="editProjectButton {%if not project.enabled%}link-secondary{%endif%}" href="#" data-bs-toggle="modal" data-bs-target="#editProjectModal" data-id="{{ project.id }}">Редактировать</a><br>
                <div class="row">
                    <div class="col-sm">
                        <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Год</th>
                                <th scope="col">Сумма (тыс. руб.)</th>
                                <th scope="col">Активные месяцы</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for oh in project.order_history %}
                            <tr>
                                <th scope="row">{{oh.year}}</th>
                                <td>{{'{:,.2f}'.format(oh.total/1000)}}</td>
                                <td>{{oh.active_months}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        </table>
                    </div>
                    <div class="col-sm">
                        <canvas id="projectStatChart{{project.id}}"></canvas>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <nav aria-label="Projects pagination">
        <ul class="pagination justify-content-center flex-wrap" id="projectPagination">
            {% for page in projects.iter_pages() %}
                {% if page %}
                    {% if page != projects.page %}
                        <li class="page-item">
                            <a class="page-link" href="{{ url_for('main.ShowProjects', page=page) }}">
                                {{ page }}
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="#">{{ page }}</a>
                        <li>
                    {% endif %}
                {% else %}
                    <li class="page-item">
                        <span class="ellipsis">…</span>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
</div>

<div class="modal fade" id="addProjectModal" tabindex="-1" aria-labelledby="addProjectModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addProjectModalLabel">ДОБАВИТЬ КЛИЕНТА</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="POST" action="{{ url_for('main.AddProject') }}">
                <div class="modal-body">
                    {{ forms['add_project'].csrf_token(id=False) }}
                    <div class="mb-3">
                        {{ forms['add_project'].project_name.label(id=False, class_='form-label', for='addProjectName')
                        }}
                        {{ forms['add_project'].project_name(id='addProjectName', class_='form-control') }}
                    </div>
                    <div class="mb-3">
                        {{ forms['add_project'].uid.label(id=False, class_='form-label', for='addProjectUid') }}
                        {{ forms['add_project'].uid(id='addProjectUid',class_='form-control') }}
                    </div>
                    <div class="mb-3">
                        {{ forms['add_project'].tin.label(id=False, class_='form-label', for='addProjectTin') }}
                        {{ forms['add_project'].tin(id='addProjectTin',class_='form-control') }}
                    </div>
                    <div class="mb-3">
                        {{ forms['add_project'].phone.label(id=False, class_='form-label', for='addProjectPhone') }}
                        {{ forms['add_project'].phone(id='addProjectPhone',class_='form-control') }}
                    </div>
                    <div class="mb-3">
                        {{ forms['add_project'].email.label(id=False, class_='form-label', for='addProjectEmail') }}
                        {{ forms['add_project'].email(id='addProjectEmail',class_='form-control') }}
                    </div>
                    <div class="mb-3">
                        {{ forms['add_project'].contact.label(id=False, class_='form-label', for='addProjectContact') }}
                        {{ forms['add_project'].contact(id='addProjectContact',class_='form-control') }}
                    </div>
                    <div class="mb-3">
                        {{ forms['add_project'].legal_address.label(id=False, class_='form-label', for='addProjectLegalAddress') }}
                        {{ forms['add_project'].legal_address(id='addProjectLegalAddress',class_='form-control') }}
                    </div>
                    <div class="mb-3">
                        {{ forms['add_project'].shipping_address.label(id=False, class_='form-label', for='addProjectShippingAddress') }}
                        {{ forms['add_project'].shipping_address(id='addProjectShippingAddress',class_='form-control') }}
                    </div>
                    <div class="mb-3">
                        {{ forms['add_project'].note.label(id=False, class_='form-label', for='addProjectNote') }}
                        {{ forms['add_project'].note(id='addProjectNote',class_='form-control') }}
                    </div>
                </div>
                <div class="modal-footer">
                    {{ forms['add_project'].submit(id=False, class_='btn btn-primary text-white') }}
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="editProjectModal" tabindex="-1" aria-labelledby="editProjectModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editProjectModalLabel">РЕДАКТИРОВАТЬ КЛИЕНТА</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="POST" action="{{ url_for('main.EditProject') }}">
                <div class="modal-body">
                    {{ forms['edit_project'].csrf_token(id=False) }}
                    {{ forms['edit_project'].project_id(id='editProjectId', hidden='', class_='d-none') }}
                    <div class="mb-3">
                        {{ forms['edit_project'].project_name.label(id=False, class_='form-label',
                        for='editProjectName') }}
                        {{ forms['edit_project'].project_name(id='editProjectName', class_='form-control') }}
                    </div>
                    <div class="mb-3">
                        {{ forms['edit_project'].uid.label(id=False, class_='form-label', for='editProjectUid') }}
                        {{ forms['edit_project'].uid(id='editProjectUid',class_='form-control') }}
                    </div>
                    <div class="mb-3">
                        {{ forms['edit_project'].tin.label(id=False, class_='form-label', for='editProjectTin') }}
                        {{ forms['edit_project'].tin(id='editProjectTin',class_='form-control') }}
                    </div>
                    <div class="mb-3">
                        {{ forms['edit_project'].phone.label(id=False, class_='form-label', for='editProjectPhone') }}
                        {{ forms['edit_project'].phone(id='editProjectPhone',class_='form-control') }}
                    </div>
                    <div class="mb-3">
                        {{ forms['edit_project'].email.label(id=False, class_='form-label', for='editProjectEmail') }}
                        {{ forms['edit_project'].email(id='editProjectEmail',class_='form-control') }}
                    </div>
                    <div class="mb-3">
                        {{ forms['edit_project'].contact.label(id=False, class_='form-label', for='editProjectContact') }}
                        {{ forms['edit_project'].contact(id='editProjectContact',class_='form-control') }}
                    </div>
                    <div class="mb-3">
                        {{ forms['edit_project'].legal_address.label(id=False, class_='form-label', for='editProjectLegalAddress') }}
                        {{ forms['edit_project'].legal_address(id='editProjectLegalAddress',class_='form-control') }}
                    </div>
                    <div class="mb-3">
                        {{ forms['edit_project'].shipping_address.label(id=False, class_='form-label', for='editProjectShippingAddress') }}
                        {{ forms['edit_project'].shipping_address(id='editProjectShippingAddress',class_='form-control') }}
                    </div>
                    <div class="mb-3">
                        {{ forms['edit_project'].note.label(id=False, class_='form-label', for='editProjectNote') }}
                        {{ forms['edit_project'].note(id='editProjectNote',class_='form-control') }}
                    </div>
                    <div class="mb-3 form-check">
                        {{ forms['edit_project'].enabled(id='editProjectEnabled',class_='form-check-input') }}
                        {{ forms['edit_project'].enabled.label(id=False, class_='form-check-label',
                        for='editProjectEnabled') }}
                    </div>
                </div>
                <div class="modal-footer">
                    {{ forms['edit_project'].submit(id=False, class_='btn btn-primary text-white') }}
                    <a class="btn btn-danger text-white" href="#" role="button" id="removeProjectButton"
                        onclick="confirm('Вы действительно хотите удалить?')">Удалить</a>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/pagination.js') }}"></script>
<script>
    $(document).ready(function () {

        var projects = [{% for project in projects %}{{ project| safe }}, {% endfor %}];

        projects.forEach(function(project){
            const data = {
                labels: project.order_history.year,
                datasets: [{
                    label: 'Продажи',
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: project.order_history.total,
                }]
            };
            const config = {
                type: 'bar',
                data: data,
            };
            const myChart = new Chart(
                document.getElementById("projectStatChart" + project.id),
                config
            );
        });

        // InstantiatePagination("projectList", "project", "projectPagination", 100, 'projectFilter');

        $(".editProjectButton").click(function () {
            let projectId = Number($(this).data("id"));
            $("#editProjectId").val(projectId);
            $("#removeProjectButton").prop("href", "{{ url_for('main.RemoveProject', project_id=0) }}".replace(0, projectId));
            projects.some(function (project) {
                if (project["id"] == projectId) {
                    $("#editProjectName").val(project["name"]);
                    $("#editProjectUid").val(project["uid"]);
                    $("#editProjectTin").val(project["tin"]);
                    $("#editProjectPhone").val(project["phone"]);
                    $("#editProjectEmail").val(project["email"]);
                    $("#editProjectContact").val(project["contact"]);
                    $("#editProjectLegalAddress").val(project["legal_address"]);
                    $("#editProjectShippingAddress").val(project["shipping_address"]);
                    $("#editProjectNote").val(project["note"]);
                    $("#editProjectEnabled").prop('checked', project["enabled"]);
                    return true;
                }
            });
        });

        const projectFilter = document.querySelector("#projectFilter");
        const projectList = document.querySelector("#projectList");

        projectFilter.addEventListener("keyup", function () {
            const filterValue = projectFilter.value.toLowerCase();
            const projectRows = projectList.querySelectorAll(".project");
            if (filterValue.length > 0) {
                projectRows.forEach(row => {
                    const rowText = row.textContent.toLowerCase();
                    const showRow = rowText.indexOf(filterValue) > -1;
                    if (showRow)
                        row.classList.remove("d-none")
                    else
                        row.classList.add("d-none");
                });
            } else {
                const page = document.querySelector("#projectPagination li.active");
                page.click();
            }
        });
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{% endblock %}