{% extends "base.html" %}

{% block styles%}
<style>
    .card:hover {
        box-shadow: 0 0 0 0.2rem #bce3f6;
        border-color: #bce3f6;
        transition: all .55s ease-in-out;
    }
</style>
{% endblock %}

{% block content %}

<div class="container my-2">

    <div class="row justify-content-center">
        <div class="col-md-8">
            <form method="GET" action="{{url_for('main.shop_search')}}">
                <input class="form-control" name="search" id="searchInput" type="search" placeholder="Поиск.." value={{search_key or ''}}>
            </form>
        </div>
    </div>

</div>

<div class="container">

    <div class="row">
        <div class="col overflow-hidden">
            <strong>НОВАЯ ЗАЯВКА</strong>
        </div>
        <div class="col-auto text-end overflow-hidden">
            <a class="text-muted" href="{{url_for('main.shop_cart')}}">
                <i class="bi bi-cart fs-4"></i>
                <br>
                <small class="text-muted" id="inCartItems"></small>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <strong>Клиент:</strong>
            <a href="#"
                id="projectName"
                class="projectSelect">
                Не указан
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <strong>Инициатор:</strong>
            {% set user = current_user %}
            {% include '_user.popover.html' %}
            {{ user.name or user.email }}
        </div>
    </div>

    <div id="categoryList">
        {% for rows in categories|batch(5) %}
            <div class="row my-4">
                {% for category in rows %}
                    <div class="col-sm m-1">
                        <div class="card text-center selectable" data-id="{{category.id}}">
                            <div class="card-body">
                                <img src="{{category.image or config['PLACEHOLDER_IMAGE']}}"
                                    height="128"
                                    width="128"
                                    alt="thumbnail">
                            </div>
                            <div class="card-footer bg-white border-top-0">
                                {{category.name}}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% for i in range(5 - rows|length) %}
                    <div class="col-sm m-1">
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

</div>


<div class="modal fade"
    id="projectModal"
    tabindex="-1"
    aria-labelledby="projectModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="projectModalLabel">Клиент</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm my-1">
                        <select id="projectSelect" aria-describedby="projectSelectHelp">
                            <option value="" disabled selected>Выберите клиента...</option>
                            {% for project in projects %}
                                <option value="{{ project.id }}">{{ project.name }}</option>
                            {% endfor %}
                        </select>
                        <div id="projectSelectHelp" class="form-text">
                            <a href="{{url_for('main.ShowProjects', add_project=True)}}">Добавить нового клиента</a>
                        </div>
                    </div>
                    <div class="col-sm-auto my-1">
                        <button type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal"
                            disabled
                            id="projectDismiss">
                            Продолжить
                        </button>
                    </div>
                </div>
                <div class="d-none" id="projectInfo">
                    <div class="row d-none d-sm-flex fw-bold">
                        <div class="col-2">
                            Код/ИНН
                        </div>
                        <div class="col-3">
                            Контакт
                        </div>
                        <div class="col">
                            Адреса
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <span class="d-sm-none fw-bold">Код/ИНН:</span>
                            <span id="projectInfoUid"></span>
                            <br>
                            <span id="projectInfoTin"></span>
                            <br>
                            <small class="text-secondary">Цены: <span id="projectInfoPriceLevel"></span></small>
                        </div>
                        <div class="col-sm-3">
                            <span class="d-sm-none fw-bold">Контакт:</span>
                            <span id="projectInfoContact"></span>
                            <span id="projectInfoEmail"></span>
                            <span id="projectInfoPhone"></span>
                        </div>
                        <div class="col-sm">
                            <div class="row">
                                <div class="col-4">
                                    <span class="d-sm-none fw-bold">Адреса:</span>
                                </div>
                                <div class="col">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <span class="d-sm-none fw-bold">&boxur;</span> <strong>Юридический</strong>
                                </div>
                                <div class="col">
                                    <span id="projectInfoLegalAddress"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <span class="d-sm-none fw-bold">&boxur;</span> <strong>Доставки</strong>
                                </div>
                                <div class="col">
                                    <span id="projectInfoShippingAddress"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/sugar.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/shoppingCart.js') }}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {

        SetInCartText();

        let projectModal = new bootstrap.Modal(document.getElementById('projectModal'), { 'backdrop': 'static', keyboard: false });

        CheckProject(() => {
            projectModal.show();
        });

        const projectName = document.getElementById("projectName");

        const projectInfo = document.getElementById("projectInfo");
        const projectInfoUid = document.getElementById("projectInfoUid");
        const projectInfoTin = document.getElementById("projectInfoTin");
        const projectInfoContact = document.getElementById("projectInfoContact");
        const projectInfoEmail = document.getElementById("projectInfoEmail");
        const projectInfoPhone = document.getElementById("projectInfoPhone");
        const projectInfoLegalAddress = document.getElementById("projectInfoLegalAddress");
        const projectInfoShippingAddress = document.getElementById("projectInfoShippingAddress");
        const projectInfoPriceLevel = document.getElementById("projectInfoPriceLevel");
        const projectDismiss = document.getElementById("projectDismiss");

        const selectables = document.querySelectorAll(".selectable");

        selectables.forEach(function (selectable) {
            selectable.addEventListener("click", function (event) {
                const categoryId = selectable.dataset.id;
                const url = "{{ url_for('main.shop_products', cat_id=0) }}".replace("0", categoryId);
                window.location.href = url;
            });
        });

        const projectSelect = $("#projectSelect");

        projectSelect.selectize({
            maxItems:1,
            valueField: 'id',
            labelField: 'name',
            searchField: 'name',
            options: [],
            create: false,
            load: function(query, callback) {
                if (!query.length) return callback();
                $.ajax({
                    url: '{{url_for("api.search_projects", q="0")}}'.replace('0', encodeURIComponent(query)),
                    type: 'GET',
                    error: function() {
                        callback();
                    },
                    success: function(res) {
                        callback(res.slice(0, 20));
                    }
                });
            },
            render: {
                option: function(item, escape) {
                    return '<div class="item" '+
                    'data-value="'+escape(item.id)+'"'+
                    'data-uid="'+escape(item.uid)+'"'+
                    'data-tin="'+escape(item.tin)+'"'+
                    'data-contact="'+escape(item.contact)+'"'+
                    'data-email="'+escape(item.email)+'"'+
                    'data-phone="'+escape(item.phone)+'"'+
                    'data-legaladdress="'+escape(item.legal_address)+'"'+
                    'data-shippingaddress="'+escape(item.shipping_address)+'"'+
                    'data-pricelevelpretty="'+escape(item.price_level_pretty)+'"'+
                    '>'+
                    escape(item.name)+' ('+escape(item.legal_address)+')'+
                    '</div>';
                }
            },
        });
        projectSelect.on("change", function () {
            const id = Number(projectSelect.val());
            if (id){
                const selectedOption = projectSelect[0].selectize.getOption(id);

                const name = selectedOption.text();
                sessionStorage.setItem("project_id", id);
                sessionStorage.setItem("project_name", name);
                document.cookie = "project_id=" + id;
                projectName.textContent = name;

                // projectSelect.removeClass("border-danger");
                projectInfo.classList.remove("d-none");
                projectDismiss.disabled = false;
                projectDismiss.classList.remove("btn-secondary");
                projectDismiss.classList.add("btn-primary");


                projectInfoUid.textContent = selectedOption.data("uid");
                projectInfoTin.textContent = selectedOption.data("tin");
                projectInfoContact.textContent = selectedOption.data("contact");
                projectInfoEmail.textContent = selectedOption.data("email");
                projectInfoPhone.textContent = selectedOption.data("phone");
                projectInfoLegalAddress.textContent = selectedOption.data("legaladdress");
                projectInfoShippingAddress.textContent = selectedOption.data("shippingaddress");
                projectInfoPriceLevel.textContent = selectedOption.data("pricelevelpretty");

            } else {
                // projectSelect.addClass("border-danger");
                projectDismiss.disabled = true;
                projectDismiss.classList.add("btn-secondary");
                projectDismiss.classList.remove("btn-primary");
                projectInfo.classList.remove("d-none");
            }

        });


    });

</script>
{%endblock %}
