{% extends "base.html" %}

{% block content %}

<div class="container">
	<div class="accordion" id="settingsFormsAccordion">
		{% include 'admin/_app.html' %}
		{% include 'admin/_hub.html' %}
		{% include 'admin/_category.html' %}
	</div>
</div>


{% endblock %}

{% block scripts %}
<script>
	$(document).ready(function () {

	var categories = [{% for category in categories %} {{ category | safe }}, {% endfor %}];


	$("#categoryFilter").on("keyup", function () {
		let value = $(this).val().toLowerCase();
		$("#categoryList>.row").filter(function () {
			$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
		});
	});

	});
</script>
{% endblock %}