{% extends "base.html" %}

{% block content %}

<div class="container">
	<div class="accordion" id="settingsFormsAccordion">
		{% include 'admin/_app.html' %}
		{% if current_user.role.name == "admin" %}
			{% include 'admin/_hub.html' %}
			{% include 'admin/_category.html' %}
		{% endif %}
	</div>
</div>


{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

<script>
	$(document).ready(function () {

	var categories = [{% for category in categories %} {{ category | safe }}, {% endfor %}];


	$("#categoryFilter").on("keyup", function () {
		let value = $(this).val().toLowerCase();
		$("#categoryList>.row").filter(function () {
			$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
		});
	});

	const edit_contacts = document.getElementById('contacts');
	const render_contacts = document.getElementById('contacts-rendered');
	render_contacts.innerHTML = marked.parse(edit_contacts.value);

	edit_contacts.addEventListener("change", function () {
		render_contacts.innerHTML = marked.parse(edit_contacts.value);
	});

	});
</script>
{% endblock %}