{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row my-1">
        <div class="col">
            {{grant.client.client_name}} запрашивает авторизацию:
            <strong>{{ grant.request.scope }}</strong>
        </div>
    </div>

    <form action="" method="post">
        <div class="row">
            <div class="col">
                <button class="btn btn-primary" type="submit">Подтвердить</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}
