{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row my-1">
        <div class="col">
            <p>{{grant.client.client_name}} запрашивает авторизацию:
                <strong>{{ grant.request.scope }}</strong>
            </p>
        </div>
    </div>

    <form action="" method="post">
        <div class="row">
            <div class="col">
                <button type="submit">Подтвердить</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}
