{% extends "base.html" %}

{% block content %}

<div class="container">
    {% for client in clients %}
    <div class="row border-bottom">
        <div class="col">
            {{ client.client_info|tojson }}
        </div>
        <div class="col">
            {{ client.client_metadata|tojson }}
        </div>
        <div class="col-auto">
            <form action="{{ url_for('oauth.remove_client', client_id=client.id) }}" method="POST">
                <button type="submit" class="btn btn-danger text-white"
                    onclick="return confirm('Удалить?')">
                    <i class="bi bi-x-lg"></i>
                </button>
            </form>
        </div>
    </div>
    {% endfor %}
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form action="{{url_for('oauth.create_client')}}" method="post">
                <div class="mb-3">
                    <label for="client_name" class="form-label">Client Name</label>
                    <input type="text" class="form-control" id="client_name" name="client_name">
                </div>
                <div class="mb-3">
                    <label for="client_uri" class="form-label">Client URI</label>
                    <input type="url" class="form-control" id="client_uri" name="client_uri">
                </div>
                <div class="mb-3">
                    <label for="scope" class="form-label">Allowed Scope</label>
                    <input type="text" class="form-control" id="scope" name="scope">
                </div>
                <div class="mb-3">
                    <label for="scope" class="form-label">Redirect URIs</label>
                    <textarea class="form-control" id="redirect_uri" name="redirect_uri"></textarea>
                </div>
                <div class="mb-3">
                    <label for="scope" class="form-label">Allowed Grant Types</label>
                    <textarea class="form-control" id="grant_type" name="grant_type"></textarea>
                </div>
                <div class="mb-3">
                    <label for="scope" class="form-label">Allowed Response Types</label>
                    <textarea class="form-control" id="response_type" name="response_type"></textarea>
                </div>
                <div class="mb-3">
                    <select class="form-select" name="token_endpoint_auth_method">
                        <option selected disabled>Token Endpoint Auth Method</option>
                        <option value="client_secret_basic">client_secret_basic</option>
                        <option value="client_secret_post">client_secret_post</option>
                        <option value="none">none</option>
                    </select>
                </div>
                <button class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>



{% endblock %}
