<form method="POST" action="{{ url_for('main.save_settings') }}">
	<div {% if current_user.role.name=="admin" %}class="modal-body" {% endif %}>
		{{ user_form.csrf_token(id=False) }}
		{{ user_form.user_id or '' }}
		<div class="row mb-3">
			{{ user_form.about_user.full_name.label(class_='col-md-2 col-form-label') }}
			<div class="col-md-10">
				{{ user_form.about_user.full_name(class_='form-control', value=current_user.name or '') }}
			</div>
		</div>
		{% if current_user.role.name == 'initiative' %}
		<div class="row mb-3">
			{{ user_form.project_name.label(class_='col-md-2 col-form-label') }}
			<div class="col-md-10">
				{{ user_form.project_name(class_='form-control') }}
				<small class="text-muted">{{ user_form.project_name.description }}</small>
			</div>
		</div>
		<div class="row mb-3">
			{{ user_form.tin.label(class_='col-md-2 col-form-label') }}
			<div class="col-md-10">
				{{ user_form.tin(class_='form-control') }}
			</div>
		</div>
		<div class="row mb-3">
			{{ user_form.phone.label(class_='col-md-2 col-form-label') }}
			<div class="col-md-10">
				{{ user_form.phone(class_='form-control') }}
			</div>
		</div>
		<div class="row mb-3">
			{{ user_form.legal_address.label(class_='col-md-2 col-form-label') }}
			<div class="col-md-10">
				{{ user_form.legal_address(class_='form-control') }}
			</div>
		</div>
		<div class="row mb-3">
			{{ user_form.shipping_address.label(class_='col-md-2 col-form-label') }}
			<div class="col-md-10">
				{{ user_form.shipping_address(class_='form-control') }}
			</div>
		</div>
		{% endif %}
		{% if current_user.role.name == 'admin' %}
		<div class="row mb-3">
			{{ user_form.role.label(class_='col-md-2 col-form-label') }}
			<div class="col-md-10">
				{{ user_form.role(class_='form-select') }}
			</div>
		</div>
		{% endif %}
		<div class="row mb-3">
			<div class="col-md-2">Оповещения</div>
			<div class="col-md-10">
				<div class="form-check form-check-inline">
					{{ user_form.about_user.email_new(class_='form-check-input', checked=current_user.email_new) }}
					{{ user_form.about_user.email_new.label(class_='form-check-label') }}
				</div>
				<div class="form-check form-check-inline">
					{{ user_form.about_user.email_modified(class_='form-check-input',
					checked=current_user.email_modified) }}
					{{ user_form.about_user.email_modified.label(class_='form-check-label') }}
				</div>
				<div class="form-check form-check-inline">
					{{ user_form.about_user.email_disapproved(class_='form-check-input',
					checked=current_user.email_disapproved) }}
					{{ user_form.about_user.email_disapproved.label(class_='form-check-label') }}
				</div>
				<div class="form-check form-check-inline">
					{{ user_form.about_user.email_approved(class_='form-check-input',
					checked=current_user.email_approved) }}
					{{ user_form.about_user.email_approved.label(class_='form-check-label') }}
				</div>
				<div class="form-check form-check-inline">
					{{ user_form.about_user.email_comment(class_='form-check-input', checked=current_user.email_comment)
					}}
					{{ user_form.about_user.email_comment.label(class_='form-check-label') }}
				</div>
			</div>
		</div>
		{% if current_user.role.name != "initiative" %}
			<div class="row mb-3" id="userDataWrapper">
				<div class="col">
					{{ user_form.about_user.projects.label(class_='form-label projectsDropDown') }}
					<a class="projectsDropDown" href="#">добавить из списка</a>
					{{ user_form.about_user.projects(class_='form-control', style="width:100%") }}
					<a id="selectAllProjects" href="#">выделить все</a>
					<a id="selectNoneProjects" href="#" class="text-danger">удалить все</a>
				</div>
			</div>
		{% endif %}
	</div>
	{% if current_user.role.name == 'admin' %}
	<div class="modal-footer">
		{{ user_form.submit(class_='btn btn-primary text-white') }}
		<a href="" id="removeUserButton" class="btn btn-danger text-white"
			onclick="return confirm('Удалить пользователя?')">Удалить</a>
		<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
	</div>
	{% else %}
	<div class="row mb-3">
		<div class="col">
			{{ user_form.submit(class_='btn btn-primary text-white') }}
		</div>
	</div>
	{% endif %}
</form>