<div class="container border-bottom showUserModal my-2" id="user{{ user.id }}" data-id="{{ user.id }}">
	<div class="row">
		<div class="col-sm overflow-hidden">
			<span class="d-sm-none fw-bold">ФИО:</span>
			{{ user.name or '' }}
		</div>
		<div class="col-sm overflow-hidden">
			<span class="d-sm-none fw-bold">Email:</span>
			{{ user.email }}
		</div>
		<div class="col-sm overflow-hidden">
			<span class="d-sm-none fw-bold">Права:</span>
			{{ user.role }}
		</div>
		<div class="col-sm overflow-hidden">
			<span class="d-sm-none fw-bold">Активность:</span>
			{{ moment(user.last_seen).format() if user.last_seen is not none }}<br>
			<small class="text-secondary">{{ moment(user.registered).format() if user.registered is not none }}</small>
		</div>
	</div>
</div>