{% extends "base.html" %}

{% block styles %}
{% endblock %}

{% block content %}
{% if current_user.role.name == "admin" %}
	<div class="container border bg-white rounded">
		<div class="row">
			<div class="col-auto">
				<a href="{{ url_for('auth.signup') }}">Новый пользователь</a>
			</div>
			<div class="col-auto">
				<a href="{{ url_for('oauth.home') }}">OAuth2</a>
			</div>
			<div class="col-auto">
				<a href="{{ url_for('main.DownloadUsers') }}">скачать</a>
			</div>
			<div class="col text-end">
				<a href="{{ url_for('static', filename = 'app.log') }}">Лог файл</a>
			</div>
		</div>
		<div class="row d-none d-sm-flex fw-bold px-3">
			<div class="col overflow-hidden">
				ФИО
			</div>
			<div class="col overflow-hidden">
				Email
			</div>
			<div class="col overflow-hidden">
				Права
			</div>
			<div class="col overflow-hidden">
				Активность
			</div>
		</div>
		{% for user in users %}
		{% include 'main/settings/_user.html' %}
		{% endfor %}
		{% set items = users %}
		{% include '_pagination.html' %}
	</div>

	<div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="userModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="userModalLabel">НАСТРОЙКИ ПОЛЬЗОВАТЕЛЯ #<span id="about_user-id"></span>: <span id="about_user-email"></span></h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				{% include 'main/settings/_user.settings.form.html' %}
			</div>
		</div>
	</div>

{% else %}

	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-10">
				{% if current_user.role.name == 'initiative' %}
					{% include 'admin/_select_hub.html' %}
				{% endif %}
				{% include 'main/settings/_user.settings.form.html' %}
			</div>
		</div>
	</div>

{% endif %}

{% endblock %}

{% block scripts %}

<script>
	$(document).ready(function () {
		//Scripts
		{% if current_user.role.name not in ['initiative'] %}
			var projectsData = $("#about_user-projects");
			projectsData.val({{ current_user.projects_list }});


			projectsData.selectize({
				valueField: 'id',
				labelField: 'name',
				searchField: 'name',
				options: [],
				create: false,
				load: function(query, callback) {
					if (!query.length) return callback();
					$.ajax({
						url: '{{url_for("api.search_projects", q="0")}}'.replace('0', encodeURIComponent(query)),
						type: 'GET',
						error: function() {
							callback();
						},
						success: function(res) {
							callback(res.slice(0, 20));
						}
					});
				},
			});
			selectizeProjects = projectsData[0].selectize;

			$('#selectAllProjects').click(function() {
				selectizeProjects.setValue(Object.keys(selectizeProjects.options));
			});

			$('#selectNoneProjects').click(function() {
				selectizeProjects.clear(false);
			});
			
			$('.projectsDropDown').click(function(e) {
				selectizeProjects.focus();
			});
		{% endif %}

		
		{% if current_user.role.name == 'admin' %}
			var users = [{% for user in users %}{{ user | safe }},{% endfor %}];

			function HideUserData() {
				if ($("#role").val() == 2) {
					selectizeProjects.clear(false);
					projectsData.val(null);
					projectsData.removeAttr('value');
					$("#userDataWrapper").hide();
				} else {
					let user_id = Number($("#about_user-id").text());
					users.some(function (user) {
						if (user["id"] == user_id) {
							$("#userDataWrapper").show();
							user["projects"].forEach(function (p) {
								selectizeProjects.registerOption(p);
							});
							selectizeProjects.setValue(user["project_ids"]);
						}
					});
				}
			}


			$("#usersFilter").on("keyup", function () {
				let value = $(this).val().toLowerCase();
				$(".showUserModal").filter(function () {
					$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
				});
			});

			$(".showUserModal").click(function () {

				let userModal = new bootstrap.Modal(document.getElementById('userModal'), {});

				let user_id = Number($(this).attr('data-id'));
				$("#user_id").val(user_id);
				users.some(function (user) {
					if (user["id"] == user_id) {
						$("#about_user-id").text(user['id']);
						$("#about_user-email").text(user['email']);
						$("#about_user-full_name").val(user["name"]);
						$("#about_user-email_new").prop("checked", user["email_new"]);
						$("#about_user-email_modified").prop("checked", user["email_modified"]);
						$("#about_user-email_disapproved").prop("checked", user["email_disapproved"]);
						$("#about_user-email_approved").prop("checked", user["email_approved"]);
						$("#about_user-email_comment").prop("checked", user["email_comment"]);
						$("#role").val(user["role_id"]);
						$("#removeUserButton").attr("href", "{{ url_for('main.RemoveUser', user_id='0') }}".replace("0", user_id));

						if (user["role_id"] != 2){
							$("#userDataWrapper").show();
							user["projects"].forEach(function (p) {
								selectizeProjects.registerOption(p);
							});
							selectizeProjects.setValue(user["project_ids"]);
						}
						else
							HideUserData();
						return true;
					}
				});
				userModal.show();
			});
			$("#role").change(HideUserData);
		{% endif %}
	});
</script>
{% endblock %}