<div class="row bg-light d-none d-sm-flex border">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col-1 overflow-hidden">
                    #
                </div>
                <div class="col-1 overflow-hidden">
                    Позиций
                </div>		
                <div class="col-1 overflow-hidden">
                    Сумма
                </div>
                <div class="col-1 overflow-hidden">
                    Цены
                </div>
                <div class="col-1 overflow-hidden">
                    Скидка
                </div>
                <div class="col overflow-hidden">
                    Клиент
                </div>
                <div class="col overflow-hidden">
                    Адрес
                </div>
            </div>
        </div>
        <div class="col-2 overflow-hidden">
            Статус
        </div>
    </div>
</div>