<div class="row bg-light d-none d-sm-flex border">
    <div class="col-1 overflow-hidden">
        #
    </div>
    <div class="col-1 overflow-hidden">
        Позиций
    </div>		
    <div class="col-1 overflow-hidden">
        Сумма
    </div>
    <div class="col-1 overflow-hidden">
        Цены
    </div>
    <div class="col-1 overflow-hidden">
        Скидка
    </div>
    <div class="col overflow-hidden">
        Клиент
    </div>
    <div class="col overflow-hidden">
        Адрес
    </div>
    <div class="col overflow-hidden">
        Статус
    </div>
</div>