<div 
	{% if order.children | length > 1 %}
		class="row border bg-white my-1 rounded order opacity-50"
	{% elif order.children | length == 1 %}
		class="row border bg-white my-1 rounded order opacity-50"
	{% elif order.status.name in ['cancelled', 'returned'] %}
		class="row border bg-white my-1 rounded order opacity-50"
	{% else %}
		class="row selectable border bg-white my-1 rounded order"
	{% endif %}
	data-id="{{ order.id }}" 
	data-total="{{ order.total }}">
	<div class="col">
		<div class="row">
			<div class="col-sm overflow-hidden pt-0 pt-sm-2">
				<span class="text-muted">
					{{ moment(order.create_date).format() }}
				</span>
				<br>
				<span class="d-sm-none fw-bold">Заявка:</span>
				<a class="text-decoration-none" href="{{ url_for('main.show_order', order_id=order.id) }}">{{ order.number }}</a>
			</div>
			<div class="col-sm overflow-hidden pt-0 pt-sm-2">
				{{ "{:,.2f}".format(order.total) }}
				<br>
				{{ order.products | length }} поз.
			</div>
			<div class="col-sm overflow-hidden pt-0 pt-sm-2">
				<span class="d-sm-none fw-bold">Цены/Скидка:</span>
				{{ order.project.price_level_pretty }}
				<br>
				{{ "{:,.0%}".format(order.project.get("discount", 0.0)/100.0 or 0.0) }}
			</div>
			<div class="col-sm overflow-hidden">
				{% if not order.project_id or not order.project %}
					<span class="text-danger fw-bold">клиент не указан</span>
				{% else %}
					{% if order.project.name %}{{ order.project.name }}<br>{% endif %}
					{% if order.project.contact and order.project.contact != order.project.name %}{{ order.project.contact }}<br>{% endif %}
					{% if order.project.email %}{{ order.project.email }}<br>{% endif %}
					{% if order.project.phone %}{{ order.project.phone }}{% endif %}
				{% endif %}
			</div>
			<div class="col-sm pt-0 pt-sm-2">
				{% include '_order.status.html' %}
			</div>
			<div class="col-sm overflow-hidden">
				{{ order.project.shipping_address or "" }}
			</div>
		</div>
	</div>
</div>