<div class="modal fade" id="remarksModal" tabindex="-1" aria-labelledby="remarksModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="remarksModalLabel">ЗАМЕЧАНИЯ</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="list-unstyled">
                    {% for approval in order.user_approvals %}
                        <li class="remarkListItem" data-id="{{approval.product_id}}">
                            {% set user = approval.user %}
                            {% include 'popovers/_user.popover.html' %}
                            {{ user.name }}:
                            {{ approval.remark or 'без комментария' }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
