{% extends "base.html" %}

{% block styles %}
<style>
    .add_button_container {
        display: flex;
        align-items: center;
        text-align: center;
    }
    .add_button_container::before,
    .add_button_container::after {
        content: '';
        flex: 1;
        border-bottom: 1px solid #000;
        margin: 0 10px;
    }
    </styl
</style>
{% endblock %}

{% set glob={} %}

{% block content %}
<div class="container">
    <div class="row my-2">
        <div class="col">
            <span class="fw-bold">
                ЗАЯВКА
                #{{ order.number }}
            </span>
            от {{ moment(order.create_date).format('DD.MM.YYYY') }}
            {% include '_order.status.html' %}
        </div>
        <div class="col-auto">
            {% include 'main/approve/menu.html' %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if current_user.role.name in ['admin', 'initiative', 'purchaser'] %}
                {% if order.project_id and order.project %}
                    <span class="fw-bold">Клиент:</span>
                    <a href="#initiativeSettingsModal" data-bs-toggle="modal">{{ order.project.name }}</a><br>
                {% else %}
                    <span class="fw-bold">Клиент:</span>
                    <a href="#initiativeSettingsModal" data-bs-toggle="modal">указать</a><br>
                {% endif %}
            {% else %}
                <span class="fw-bold">Клиент:</span>
                {{ order.project.name or 'не указан' }}<br>
            {% endif %}
			{% if order.project.contact and order.project.contact != order.project.name %}{{ order.project.contact }}<br>{% endif %}
			{% if order.project.email %}{{ order.project.email }}<br>{% endif %}
			{% if order.project.phone %}{{ order.project.phone }}<br>{% endif %}
			{% if order.project.shipping_address %}{{ order.project.shipping_address }}{% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <span class="fw-bold">Инициатор:</span>
            {% set user = order.initiative %}
            {% include 'popovers/_user.popover.html' %}
            {{ user.name }}
        </div>
    </div>

    <div class="row">
        <div class="col">
            <ul class="list-unstyled">
                {% for event in order.events|reverse %}
                    {% if event.type.name in ('commented', 'approved', 'disapproved') and event.data %}
                        <li>
                            <span class="bg-yellow">
                                {% set user = event.user %}
                                {{ moment(event.timestamp).format('DD.MM.YYYY') }} {% include 'popovers/_user.popover.html' %}
                                {{ event.type }}: {{ event.data }}
                            </span>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <span class="fw-bold">Согласующие:</span>
            <ul class="list-unstyled">
                {% for appr in order.approvals %}
                    <li>
                        {{ appr.position.name }} -
                        {% if appr.approved is sameas true %}
                            <span class="fw-bold text-success">согласен</span>
                            {% set user = appr.user %}
                            {% include 'popovers/_user.popover.html' %}
                            {{ user.name }}
                            {{ moment(appr.timestamp).format('DD.MM.YYYY') }}
                        {% else %}
                            {% if appr.user is sameas none %}
                                <span class="fw-bold text-warning">ждём</span>
                                {% set ns = namespace (first = 1) %}
                                {% for user in appr.position.users | selectattr('role', 'equalto', 3) %}
                                    {% if order.project_id in user.projects_list and order.categories_list | intersect(user.categories_list) %}
                                        {% if ns.first == 0 %}
                                            или
                                        {% endif %}
                                        {% set ns.first = 0 %}
                                        {% include 'popovers/_user.popover.html' %}
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <span class="fw-bold text-danger">замечания</span>
                                {% set user = appr.user %}
                                {% include 'popovers/_user.popover.html' %}
                                {{ user.name }}
                                {{ moment(appr.timestamp).format('DD.MM.YYYY') }}
                            {% endif %}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% for product in order.products %}
        {% include 'main/approve/_product.html' %}
    {% endfor %} 
    {% if current_user.role.name in ['initiative', 'purchaser', 'admin'] %}
        <div class="row">
            <div class="col text-center add_button_container">
                <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#addProductFormCollapse" aria-expanded="false" aria-controls="addProductFormCollapse">
                    <i class="bi bi-plus-circle"></i>
                </button>
            </div>
        </div>
        <div class="collapse" id="addProductFormCollapse">
            <div class="row my-1 py-1 bg-white rounded">
                <div class="col">
                    <select aria-label="Product search" id="productSearch">
                        <option value="" disabled selected>Добавить товар...</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <form id="addProductQuantityForm" class="changeQuantityForm" action="{{ url_for('main.save_quantity', order_id=order.id) }}" method="POST">
                        {{ quantity_form.csrf_token(id=False) }}
                        {{ quantity_form.product_id(class_='d-none', hidden='', value='', id='addProductQuantityFormProductId') }}
                        <input id='addProductQuantityFormProductQuantity' disabled name="product_quantity" type="number" class="form-control" min="0" step="1" aria-label="Количество" value="">
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col">
            Всего позиций: {{ order.products|length }}
            на сумму {{ '{:,.2f}'.format(order.total) }}
        </div>
    </div>
    {% if current_user.role.name in ['validator', 'warehouse'] %}
        <div class="row">
            <div class="col text-end">
                <button type="button" class="btn btn-success approveButton text-white" data-approved="false" data-target="order">Согласен</button>
                <button type="button" class="btn btn-danger approveButton my-2 text-white" data-approved="true" data-target="order">Не согласен</button>
            </div>
        </div>
    {% endif %}
</div>
<div class="container">
    <div class="row my-2">
        <div class="col">
            <span class="fw-bold">ИСТОРИЯ</span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input class="form-control" id="actionsFilter" type="text" placeholder="Фильтр..">
        </div>
    </div>
    <div id="actionsSection">
        {% for event in order.events|reverse %}
            <div class="action" data-datetime="{{ event.timestamp.timestamp() }}">
                <div class="row">
                    <div class="col">
                        {{ moment(event.timestamp).format() }}
                        {% set user = event.user %}
                        {% include 'popovers/_user.popover.html' %}
                        <span class="fw-bold text-{{event.type.color()}}">{{event.type}}</span>
                    </div>
                </div>
                {% if event.data %}
                    <div class="row">
                        <div class="col px-5 overflow-hidden">
                            &boxur; {{ event.data }}
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>

{% include 'main/approve/modals/initiative.html' %}
{% include 'main/approve/modals/comment.html' %}
{% include 'main/approve/modals/approve.html' %}
{% include 'main/approve/modals/remarks.html' %}
{% include 'main/approve/modals/split.html' %}


{% endblock %}

{% block scripts %}

<script>
    $(document).ready(function () {

    {% if current_user.role.name in ['admin', 'purchaser'] %}
        const projectSelect = $("#project");

        projectSelect.selectize({
            maxItems:1,
            valueField: 'id',
            labelField: 'name',
            searchField: 'name',
            options: [],
            create: false,
            load: function(query, callback) {
                if (!query.length) return callback();
                $.ajax({
                    url: '{{url_for("api.search_projects", q="0")}}'.replace('0', encodeURIComponent(query)),
                    type: 'GET',
                    error: function() {
                        callback();
                    },
                    success: function(res) {
                        callback(res.slice(0, 20));
                    }
                });
            },
            render: {
                option: function(item, escape) {
                    return '<div class="item" '+
                    'data-contact="'+escape(item.contact)+'"'+
                    'data-email="'+escape(item.email)+'"'+
                    'data-phone="'+escape(item.phone)+'"'+
                    'data-shippingaddress="'+escape(item.shipping_address)+'"'+
                    '>'+escape(item.name)+'</div>';
                }
            },
        });

        const projectInfoContact = document.getElementById("contact");
        const projectInfoEmail = document.getElementById("email");
        const projectInfoPhone = document.getElementById("phone");
        const projectInfoShippingAddress = document.getElementById("shipping_address");

        projectSelect.on("change", function () {
            const id = Number(projectSelect.val());
            if (id){
                const selectedOption = projectSelect[0].selectize.getOption(id);
                projectInfoContact.value = selectedOption.data("contact");
                projectInfoEmail.value = selectedOption.data("email");
                projectInfoPhone.value = selectedOption.data("phone");
                projectInfoShippingAddress.value = selectedOption.data("shippingaddress");
            }

        });

    {% endif %}
        $(".showRemarks").click(function () {
            let productId = $(this).data("id");
            $(".remarkListItem").filter(function () {
                $(this).toggle($(this).data("id") === productId);
            });
        });

        {% if current_user.role.name in ['admin', 'purchaser'] or current_user.id == order.initiative_id %}
            var focusOutTimer = null;
            $(".changeQuantityForm input").on("keyup change", function(){
                if (focusOutTimer != null)
                    clearTimeout(focusOutTimer);
                focusOutTimer = setTimeout(() =>
                    {
                        if ($(this).val())
                            $(this).closest("form").submit()
                    },
                    1500
                );
            });
        {% endif %}

        {% if current_user.role.name in ['validator', 'warehouse'] %}
            $(".approveButton").click(function () {

                let userModal = new bootstrap.Modal(document.getElementById('approveModal'), {});
                let submitApproval = $("#submitApproval");
                let approvalHint = $("#approvalHint");
                let target = $(this).data("target");
                if (target == "order") {
                    let approved = $(this).data("approved");
                    if (approved == true) {
                        $("#product_id").prop("disabled", false);
                        $("#product_id").val(0);
                        $("#approvalComment").prop("required", true);
                        approvalHint.text("Опишите суть замечания:");
                        approvalHint.removeClass("text-success");
                        approvalHint.addClass("text-danger");
                        submitApproval.removeClass("btn-success");
                        submitApproval.addClass("btn-danger");
                        submitApproval.text('Сохранить');
                    }
                    else if (approved == false) {
                        $("#product_id").prop("disabled", true);
                        $("#product_id").val(null);
                        $("#approvalComment").prop("required", false);
                        approvalHint.text("Подтвердите согласование заявки. Вы также можете добавить комментарий:");
                        approvalHint.removeClass("text-danger");
                        approvalHint.addClass("text-success");
                        submitApproval.removeClass("btn-danger");
                        submitApproval.addClass("btn-success");
                        submitApproval.text('Подтвердить');
                    }
                    userModal.show();
                }
                else if (target == "product") {

                    let productId = $(this).data("id");
                    $("#product_id").prop("disabled", false);
                    $("#product_id").val(productId);
                    $("#approvalComment").prop("required", true);
                    approvalHint.text("Опишите суть замечания:");
                    approvalHint.removeClass("text-success");
                    approvalHint.addClass("text-danger");
                    submitApproval.removeClass("btn-success");
                    submitApproval.addClass("btn-danger");
                    submitApproval.text('Сохранить');
                    userModal.show();
                }
            });
        {% endif %}
        {% if current_user.role.name in ['admin', 'initiative', 'purchaser'] %}
            var isSplitting = false;
            var splitProducts = [];

            $("#startSplitting").click(function () {
                isSplitting = true;
                splitProducts = [];
                $("#splitForm").removeClass("d-none");
                $(this).prop("disabled", true);
            });

            $("#cancelSplitting").click(function () {
                isSplitting = false;
                $("#splitForm").addClass("d-none");
                $("#startSplitting").prop("disabled", false);
                $(".selectable.bg-dark.text-white").removeClass("bg-dark text-white");
                $(".selectable").addClass("bg-white");
            });
            
            $(".selectable").click(function (event) {
                let productId = $(this).attr('data-id');
                if (isSplitting == true) {
                    if (splitProducts.includes(productId)) {
                        $(this).removeClass("bg-dark text-white");
                        $(this).addClass("bg-white");
                        let index = splitProducts.indexOf(productId);
                        splitProducts.splice(index, 1);
                    } else {
                        splitProducts.push(productId);
                        $(this).removeClass("bg-white");
                        $(this).addClass("bg-dark text-white");
                    }
                    console.log(JSON.stringify(splitProducts));
                    $("#splitProducts").val(JSON.stringify(splitProducts));
                } else {
                    let productId = $(this).attr('data-id');
                    let modalElement = document.getElementById('descriptionModal'+productId);
                    let descriptionModal = bootstrap.Modal.getInstance(modalElement);
                    if (!descriptionModal)
                        descriptionModal= new bootstrap.Modal(modalElement, {});
                    descriptionModal.show();
                }
            });
            $(".selectable input").click(function(e){
                e.stopPropagation();
            });
        {% endif %}
        {% if current_user.role.name in ['validator', 'supervisor', 'vendor'] %}
            $(".selectable").click(function(e){
                let productId = $(this).attr('data-id');
                let modalElement = document.getElementById('descriptionModal'+productId);
                let descriptionModal = bootstrap.Modal.getInstance(modalElement);
                if (!descriptionModal)
                    descriptionModal= new bootstrap.Modal(modalElement, {});
                descriptionModal.show();
            });
            $(".selectable input").click(function(e){
                e.stopPropagation();
            });
        {% endif %}
        {% if current_user.role.name in ['admin', 'initiative', 'validator', 'purchaser'] %}
            let notifyReviewers = $("#notify_reviewers");
            notifyReviewers.selectize({});
            let notifyReviewersSelectize = notifyReviewers[0].selectize;

            $('.notifyReviewersDropDown').click(function(e) {
                notifyReviewersSelectize.focus();
            });

            $('#notifyNoneReviewers').click(function() {
                notifyReviewersSelectize.clear(false);
            });

            $('.leaveComment').click(function() {
                let target = $(this).data("target");
                if (target == 'comment'){
                    $("#leaveCommentModalLabel").text('ОСТАВИТЬ КОММЕНТАРИЙ');
                    $("#leaveCommentForm").attr('action', "{{url_for('main.LeaveComment', order_id=order.id)}}")
                }
                else if (target == 'cancel'){
                    $("#leaveCommentModalLabel").text('АННУЛИРОВАТЬ');
                    $("#leaveCommentForm").attr('action', "{{url_for('main.cancel_order', order_id=order.id)}}")
                }
            });

        {% endif %}

        const productSearch = $("#productSearch");

        productSearch.selectize({
            maxItems:1,
            valueField: 'id',
            labelField: 'name',
            searchField: 'name',
            options: [],
            create: false,
            load: function(query, callback) {
                if (!query.length) return callback();
                $.ajax({
                    url: '{{url_for("api.search_products", q="0")}}'.replace('0', encodeURIComponent(query)),
                    type: 'GET',
                    error: function() {
                        callback();
                    },
                    success: function(res) {
                        callback(res.products.slice(0, 20));
                    }
                });
            },
            render: {
                option: function(item, escape) {
                    return '<div class="item" '+
                    'data-value="'+escape(item.id)+'"'+
                    '>'+
                    '('+escape(item.sku)+') <strong>'+escape(item.name)+'</strong> '+escape(item.price.toFixed(2))+' ₽/'+escape(item.measurement)+
                    '<br><small class="text-secondary">'+escape(item.category)+'</small>'+
                    '</div>';
                }
            },
        });

        productSearch.on("change", function () {
            const id = Number(productSearch.val());
            const productIdInput = document.getElementById("addProductQuantityFormProductId");
            const productQuantityInput = document.getElementById("addProductQuantityFormProductQuantity");
            if (id){
                const selectedOption = productSearch[0].selectize.getOption(id);
                productIdInput.value = id;
                productQuantityInput.disabled = false;
                productQuantityInput.value = "";
                productQuantityInput.focus();
            } else {
                productQuantityInput.disabled = true;
                productQuantityInput.value = "";
                productIdInput.value = "";
            }
        });

    });
</script>
{%endblock %}