{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 mb-1">
            <div class="row">
                <div class="col">
                    {% for fs in fast_search %}
                        <a href="{{ url_for('main.ShowProjects', q=fs, field=["legal_address", "shipping_address"]) }}" class="text-decoration-none badge {% if search_key == fs %}bg-primary{% else %}bg-white fw-normal text-secondary border{% endif %}"">{{ fs }}</a>
                    {% endfor %}
                </div>
                <div class="col-3">
                    <form method="GET">
                        <div class="row mb-1">
                            <div class="col">
                                <select class="form-select form-select-sm" name="price_level" id="priceLevelFilter">
                                    <option value="">Цены</option>
                                    {% for pl in price_levels %}
                                        <option value="{{pl.name}}" {%if pl == price_level%}selected{%endif%}>{{pl}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <select class="form-select form-select-sm" name="last_order_date" id="lastOrderDateFilter">
                                    <option value="">Не заказывали</option>
                                    <option value="1" {%if last_order_date == 1%}selected{%endif%}>1 месяц</option>
                                    <option value="6"{%if last_order_date == 6%}selected{%endif%}>6 месяцев</option>
                                    <option value="12"{%if last_order_date == 12%}selected{%endif%}>12 месяцев</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-1">
                    <a class="btn btn-primary text-white" href="#" role="button" data-bs-toggle="modal"
                        data-bs-target="#addProjectModal"><i class="bi bi-plus-square"></i></a>
                </div>
                <div class="col-1">
                    <form method="POST" enctype="multipart/form-data" id="uploadProjectsForm"
                        action="{{url_for('main.UploadProjects')}}">
                        {{ forms["upload_projects"].csrf_token(id=False) }}
                        <label for="uploadProjectsButton">
                            <span class="btn btn-warning mb-1 text-white">
                                <i class="bi bi-cloud-upload"></i>
                            </span>
                        </label>
                        <input id="uploadProjectsButton" type="file" name="projects" class="d-none" accept=".xlsx">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% if projects.items | length %}
<div class="container bg-white border rounded my-2">
    <div class="row d-none d-sm-flex fw-bold">
        <div class="col-2 overflow-hidden">
            Название
        </div>
        <div class="col-2 overflow-hidden">
            Код/ИНН
        </div>
        <div class="col-3 overflow-hidden">
            Контакт
        </div>
        <div class="col overflow-hidden">
            Город
        </div>
        <div class="col overflow-hidden">
            Дата последнего заказа
        </div>
    </div>
    <div id="projectList">
        {% for project in projects %}
        <div class="row my-1 py-1 border-top project">
            <div class="col-sm-2">
                <span class="d-sm-none fw-bold">Название:</span>
                <a class="editProjectButton {%if not project.enabled%}link-secondary{%endif%}" href="#" data-bs-toggle="collapse" data-bs-target="#projectStatCollaps{{project.id}}" aria-expanded="false" aria-controls="projectStatCollaps{{project.id}}">{{ project.name }}</a>
                <br>
                <small class="text-secondary">Цены: {{ project.price_level }}</small>
            </div>
            <div class="col-sm-2">
                <span class="d-sm-none fw-bold">Код/ИНН:</span>
                {{ project.uid or '' }}
                <br>
                {{ project.tin or '' }}
            </div>
            <div class="col-sm-3">
                <span class="d-sm-none fw-bold">Контакт:</span>
                {{ project.contact or '' }}
                {{ project.email or '' }}
                {{ project.phone or '' }}
            </div>
            <div class="col-sm">
            </div>
            <div class="col-sm">
                {{ project.last_order_date or '' }}
            </div>
        </div>
        <div class="collapse" id="projectStatCollaps{{project.id}}">
            <div class="card card-body bg-yellow">
                <a class="editProjectButton {%if not project.enabled%}link-secondary{%endif%}" href="#" data-bs-toggle="modal" data-bs-target="#editProjectModal" data-id="{{ project.id }}">Открыть карточку</a><br>
                <div class="row">
                    <div class="col-sm">
                        <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Год</th>
                                <th scope="col">Сумма (тыс. руб.)</th>
                                <th scope="col">Активные месяцы</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for oh in project.order_history %}
                            <tr>
                                <th scope="row">{{oh.year}}</th>
                                <td>{{'{:,.0f}'.format(oh.total/1000)}}</td>
                                <td>{{oh.active_months}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        </table>
                    </div>
                    <div class="col-sm">
                        <canvas id="projectStatChart{{project.id}}"></canvas>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% set items = projects %}
    {% include '_pagination.html' %}
</div>
{% endif %}

<div class="modal fade" id="addProjectModal" tabindex="-1" aria-labelledby="addProjectModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addProjectModalLabel">ДОБАВИТЬ КЛИЕНТА</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="POST" action="{{ url_for('main.AddProject') }}">
                <div class="modal-body">
                    {{ forms['add_project'].csrf_token(id=False) }}
                    <div class="mb-3">
                        {{ forms['add_project'].project_name.label(id=False, class_='form-label', for='addProjectName')
                        }}
                        {{ forms['add_project'].project_name(id='addProjectName', class_='form-control') }}
                    </div>
                    <div class="mb-3">
                        {{ forms['add_project'].uid.label(id=False, class_='form-label', for='addProjectUid') }}
                        {{ forms['add_project'].uid(id='addProjectUid', class_='form-control') }}
                    </div>
                    <div class="mb-3">
                        {{ forms['add_project'].tin.label(id=False, class_='form-label', for='addProjectTin') }}
                        {{ forms['add_project'].tin(id='addProjectTin', class_='form-control') }}
                    </div>
                    <div class="mb-3">
                        {{ forms['add_project'].phone.label(id=False, class_='form-label', for='addProjectPhone') }}
                        {{ forms['add_project'].phone(id='addProjectPhone', class_='form-control') }}
                    </div>
                    <div class="mb-3">
                        {{ forms['add_project'].email.label(id=False, class_='form-label', for='addProjectEmail') }}
                        {{ forms['add_project'].email(id='addProjectEmail', class_='form-control') }}
                    </div>
                    <div class="mb-3">
                        {{ forms['add_project'].contact.label(id=False, class_='form-label', for='addProjectContact') }}
                        {{ forms['add_project'].contact(id='addProjectContact', class_='form-control') }}
                    </div>
                    <div class="mb-3">
                        {{ forms['add_project'].legal_address.label(id=False, class_='form-label', for='addProjectLegalAddress') }}
                        {{ forms['add_project'].legal_address(id='addProjectLegalAddress', class_='form-control') }}
                    </div>
                    <div class="mb-3">
                        {{ forms['add_project'].shipping_address.label(id=False, class_='form-label', for='addProjectShippingAddress') }}
                        {{ forms['add_project'].shipping_address(id='addProjectShippingAddress', class_='form-control') }}
                    </div>
                    <div class="mb-3">
                        {{ forms['add_project'].note.label(id=False, class_='form-label', for='addProjectNote') }}
                        {{ forms['add_project'].note(id='addProjectNote', class_='form-control') }}
                    </div>
                    {% if current_user.role.name in ["admin", "validator", "supervisor"] %}
                        <div class="mb-3">
                            {{ forms['add_project'].price_level.label(id=False, class_='form-label', for='addProjectPriceLevel') }}
                            {{ forms['add_project'].price_level(id='addProjectPriceLevel', class_='form-select') }}
                        </div>
                        <div class="mb-3">
                            {{ forms['add_project'].discount.label(id=False, class_='form-label', for='addProjectDiscount') }}
                            {{ forms['add_project'].discount(id='addProjectDiscount', class_='form-control') }}
                        </div>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    {{ forms['add_project'].submit(id=False, class_='btn btn-primary text-white') }}
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="editProjectModal" tabindex="-1" aria-labelledby="editProjectModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editProjectModalLabel">РЕДАКТИРОВАТЬ КЛИЕНТА</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="POST" action="{{ url_for('main.EditProject') }}">
                <div class="modal-body">
                    {{ forms['edit_project'].csrf_token(id=False) }}
                    {{ forms['edit_project'].project_id(id='editProjectId', hidden='', class_='d-none') }}
                    <div class="mb-3">
                        {{ forms['edit_project'].project_name.label(id=False, class_='form-label',
                        for='editProjectName') }}
                        {{ forms['edit_project'].project_name(id='editProjectName', class_='form-control') }}
                    </div>
                    <div class="mb-3">
                        {{ forms['edit_project'].uid.label(id=False, class_='form-label', for='editProjectUid') }}
                        {{ forms['edit_project'].uid(id='editProjectUid', class_='form-control') }}
                    </div>
                    <div class="mb-3">
                        {{ forms['edit_project'].tin.label(id=False, class_='form-label', for='editProjectTin') }}
                        {{ forms['edit_project'].tin(id='editProjectTin', class_='form-control') }}
                    </div>
                    <div class="mb-3">
                        {{ forms['edit_project'].phone.label(id=False, class_='form-label', for='editProjectPhone') }}
                        {{ forms['edit_project'].phone(id='editProjectPhone', class_='form-control') }}
                    </div>
                    <div class="mb-3">
                        {{ forms['edit_project'].email.label(id=False, class_='form-label', for='editProjectEmail') }}
                        {{ forms['edit_project'].email(id='editProjectEmail',class_='form-control') }}
                    </div>
                    <div class="mb-3">
                        {{ forms['edit_project'].contact.label(id=False, class_='form-label', for='editProjectContact') }}
                        {{ forms['edit_project'].contact(id='editProjectContact', class_='form-control') }}
                    </div>
                    <div class="mb-3">
                        {{ forms['edit_project'].legal_address.label(id=False, class_='form-label', for='editProjectLegalAddress') }}
                        {{ forms['edit_project'].legal_address(id='editProjectLegalAddress',class_='form-control') }}
                    </div>
                    <div class="mb-3">
                        {{ forms['edit_project'].shipping_address.label(id=False, class_='form-label', for='editProjectShippingAddress') }}
                        {{ forms['edit_project'].shipping_address(id='editProjectShippingAddress', class_='form-control') }}
                    </div>
                    <div class="mb-3">
                        {{ forms['edit_project'].note.label(id=False, class_='form-label', for='editProjectNote') }}
                        {{ forms['edit_project'].note(id='editProjectNote', class_='form-control') }}
                    </div>
                    {% if current_user.role.name in ["admin", "validator", "supervisor"] %}
                        <div class="mb-3">
                            {{ forms['edit_project'].price_level.label(id=False, class_='form-label', for='editProjectPriceLevel') }}
                            {{ forms['edit_project'].price_level(id='editProjectPriceLevel', class_='form-select') }}
                        </div>
                        <div class="mb-3">
                            {{ forms['edit_project'].discount.label(id=False, class_='form-label', for='editProjectDiscount') }}
                            {{ forms['edit_project'].discount(id='editProjectDiscount', class_='form-control') }}
                        </div>
                        <div class="mb-3 form-check">
                            {{ forms['edit_project'].enabled(id='editProjectEnabled',class_='form-check-input') }}
                            {{ forms['edit_project'].enabled.label(id=False, class_='form-check-label',
                            for='editProjectEnabled') }}
                        </div>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    {{ forms['edit_project'].submit(id=False, class_='btn btn-primary text-white') }}
                    <a class="btn btn-danger text-white" href="#" role="button" id="removeProjectButton"
                        onclick="return confirm('Вы действительно хотите удалить?')">Удалить</a>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/pagination.js') }}"></script>
<script>
    $(document).ready(function () {

        var projects = [{% for project in projects %}{{ project| safe }}, {% endfor %}];

        projects.forEach(function(project){
            const data = {
                labels: project.order_history.year,
                datasets: [{
                    label: 'Продажи',
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: project.order_history.total,
                }]
            };
            const config = {
                type: 'bar',
                data: data,
            };
            const myChart = new Chart(
                document.getElementById("projectStatChart" + project.id),
                config
            );
        });

        $(".editProjectButton").click(function () {
            let projectId = Number($(this).data("id"));
            $("#editProjectId").val(projectId);
            $("#removeProjectButton").prop("href", "{{ url_for('main.RemoveProject', project_id=0) }}".replace(0, projectId));
            projects.some(function (project) {
                if (project["id"] == projectId) {
                    $("#editProjectName").val(project["name"]);
                    $("#editProjectUid").val(project["uid"]);
                    $("#editProjectTin").val(project["tin"]);
                    $("#editProjectPhone").val(project["phone"]);
                    $("#editProjectEmail").val(project["email"]);
                    $("#editProjectContact").val(project["contact"]);
                    $("#editProjectLegalAddress").val(project["legal_address"]);
                    $("#editProjectShippingAddress").val(project["shipping_address"]);
                    $("#editProjectNote").val(project["note"]);
                    $("#editProjectPriceLevel").val(project["price_level_id"]);
                    $("#editProjectDiscount").val(project["discount"]);
                    $("#editProjectEnabled").prop('checked', project["enabled"]);
                    return true;
                }
            });
        });

        {% if show_add_project %}
            const modalElement = document.getElementById('addProjectModal');
            let addProjectModal = bootstrap.Modal.getInstance(modalElement);
            if (!addProjectModal)
                addProjectModal= new bootstrap.Modal(modalElement, {});
            addProjectModal.show();
        {% endif %}

        $('#uploadProjectsButton').on('change', () => {
            $('#uploadProjectsForm').submit();
        });

        document.getElementById("priceLevelFilter").addEventListener("change", (e) => {
            e.currentTarget.form.submit();
        });

        document.getElementById("lastOrderDateFilter").addEventListener("change", (e) => {
            e.currentTarget.form.submit();
        });

    });
</script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{% endblock %}